<img class="slider" src="./assets/img/products/clove/clove-slider.png" alt="Clove">

<h2>Our selection</h2>

<!-- product cards -->
<section class="products">
    <app-product [product]="product" *ngFor="let product of products"></app-product>
</section>

<!-- benefits -->
<article class="benefits">
    <div class="benefits__icon-wrap">
        <mat-icon class="benefits__icon">verified</mat-icon>
        <span class="benefits__label">Handmade products</span>
    </div>
    <div class="benefits__icon-wrap">
        <mat-icon class="benefits__icon">speed</mat-icon>
        <span class="benefits__label">Fast delivery</span>
    </div>
    <div class="benefits__icon-wrap">
        <mat-icon class="benefits__icon">archive</mat-icon>
        <span class="benefits__label">Madagascar to Europe</span>
    </div>
    <div class="benefits__icon-wrap">
        <mat-icon class="benefits__icon">credit_card</mat-icon>
        <span class="benefits__label">Secure payments</span>
    </div>
</article>

<h2>Advantages and details of vanilla</h2>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <p>
            Clove is a spice commonly used in foods. It's also available in mouthwashes, gels, creams, and oils. As medicine, there isn't enough reliable information to know what an appropriate dose of clove might be. Speak with a healthcare provider to find out what type of product and dose might be best for a specific condition.
        </p>
        <img src="./assets/img/products/clove/clove-4.png" alt="">
    </mat-grid-tile>
    <mat-grid-tile>
        <p>
            When taken by mouth: Clove is commonly consumed in foods. There isn't enough reliable information to know if taking clove in larger amounts is safe or what the side effects might be.
        </p>
        <img src="./assets/img/products/clove/clove-6.png" alt="">
    </mat-grid-tile>
    <mat-grid-tile>
        <p>
            Medications for diabetes (Antidiabetes drugs)
    Clove might lower blood sugar levels. Taking clove along with diabetes medications might cause blood sugar to drop too low. Monitor your blood sugar closely.
        </p>
        <img src="./assets/img/products/clove/clove-2.png" alt="">
    </mat-grid-tile>
    <mat-grid-tile>
        <p>
            Clove oils, dried flower buds, leaves, and stems are used to make medicine. Clove oil contains a chemical called eugenol that might help decrease pain and fight infections. Clove is also a popular ingredient in cigarettes. 
        </p>
        <img src="./assets/img/products/clove/clove-3.png" alt="">
    </mat-grid-tile>
</mat-grid-list>
  