<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Lantu</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Icon-button with facebook icon">
    <mat-icon>facebook</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Vanilla"><app-vanilla></app-vanilla></mat-tab>
  <mat-tab label="Pink Peppercorn"><app-peppercorn></app-peppercorn></mat-tab>
  <mat-tab label="Cinnamon"><app-cinnamon></app-cinnamon></mat-tab>
  <mat-tab label="Clove"><app-clove></app-clove></mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
