<!-- product cards -->
<section class="products">
    <app-product [product]="product" *ngFor="let product of products"></app-product>
</section>

<!-- benefits -->
<article class="benefits">
    <div class="benefits__icon-wrap">
        <mat-icon class="benefits__icon">verified</mat-icon>
        <span class="benefits__label">Handmade products</span>
    </div>
    <div class="benefits__icon-wrap">
        <mat-icon class="benefits__icon">local_shipping</mat-icon>
        <span class="benefits__label">Fast delivery</span>
    </div>
    <div class="benefits__icon-wrap">
        <mat-icon class="benefits__icon">language</mat-icon>
        <span class="benefits__label">Madagascar to Europe</span>
    </div>
    <div class="benefits__icon-wrap">
        <mat-icon class="benefits__icon">credit_card</mat-icon>
        <span class="benefits__label">Secure payments</span>
    </div>
</article>

