<mat-card class="product">
    <mat-card-header>
        <mat-card-title>{{ product?.name }} {{ product?.weight }} g</mat-card-title>
        <mat-card-subtitle>7 to 14 days - prioritaire</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{product?.src}}" alt="{{ product?.name }}">
    <mat-card-content>
        <p>{{ product?.desc }}</p>
    </mat-card-content>
    <mat-card-actions>
        <span>€{{ product?.price }}</span>
        <a href="mailto:malala2@mail.com" mat-button color="primary">ORDER</a>
    </mat-card-actions>
</mat-card>