
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$my-typography: mat.define-typography-config(
  $font-family: 'Prata',
  $display-4: mat.define-typography-level(112px, 112px, 400, $letter-spacing: -0.05em),
  $display-3: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(34px, 40px, 400),
  $headline: mat.define-typography-level(64px, 70px, 400),
  $title: mat.define-typography-level(21px, 52px, 400),
  $body-1: mat.define-typography-level(
    $font-family: 'Prata',
    $font-weight: 300,
    $font-size: 18px,
    $line-height: 1.5,
    $letter-spacing: normal,
  ),
  $body-2: mat.define-typography-level(18px, 1.5, 400),
  $button: mat.define-typography-level(18px, 21px, 400),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat.define-palette(mat.$brown-palette);
$accent: mat.define-palette(mat.$lime-palette, A300, A200, A600);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lantu-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: $my-typography
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($lantu-theme);

/* You can add global styles to this file, and also import other style files */

/* 
    Imports
*/

// Bootstrap imports
@import '../node_modules/bootstrap/scss/functions';
// @import '../node_modules/bootstrap/scss/variables';
// @import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
// @import '../node_modules/bootstrap/scss/root';
// @import '../node_modules/bootstrap/scss/reboot';
// @import '../node_modules/bootstrap/scss/containers';
// @import '../node_modules/bootstrap/scss/grid';
// @import '../node_modules/bootstrap/scss/helpers';
// @import '../node_modules/bootstrap/scss/bootstrap';


/*******************/

@import 'sass/colors';

/*******************/

html, body { height: 100%; margin: 0; }

h2 {
	max-width: 1000px;
	margin: 4rem auto 2rem auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto 4rem auto;
}

.slider {
  max-width: 1000px;
  margin: 0 auto;
  display: block;
}

.benefits {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background: $color-primary;
  &__icon-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $color-tertiary;
    .mat-icon {
      font-size: 52px;
      height: fit-content;
      width: auto;
      margin-bottom: 5px;
    }
    &__label {
      font-size: 21px;
    }
  }
}

mat-grid-tile {
  background: #fffbe4;
  p {
      position: absolute;
      margin: 4rem;
      z-index: 1;
  }
  img {
      width: 100%;
      opacity: .2;
  }
}